{% extends "irontickets/errorbase.html" %}
{% block sidemenu %}
{% endblock %}
{% block extratitle %}Error!{% endblock %}
{% block content %}
    <h2>OMG CRASH AND BURN!</h2>
    <p>
        I'm sorry, but something just crashed (through no fault
        of your own), and it was so serious that we were unable
        to recover from it.  All we can do now is show you this
        ugly error page.
    </p>
    <p>
        The correct people have been informed of the error, and
        what caused it.  Feel free to try your action again. If
        it still crashes try something different, or try later.
    </p>
{% endblock %}
