{% extends "irontickets/base.html" %}
{% block content %}
    To quote Isaac Newton: "If I have seen further it is by standing on the shoulders of giants."<br>
    I have been able to achieve what I have with IronTickets in no small part because of great work that has come before me.<br>
    <br>
    I personally want to thank several people and companies for what they have contributed to open source.<br>
    <br>
    <ul>
        <li>IronTickets is written in <A HREF="http://python.org/">Python</A>.  Python is an awesome language.  It's simple, yet powerful.</li>
        <li>The <A HREF="http://djangoproject.org/">Django</A> framework embodies the Python spirit.  The Django team has designed a great framework that does exactly what Python developers need, in the simplest, fastest, and most flexible way possible.</li>
        <li>I am nowhere close to a graphics designer.  But thanks to <A HREF="http://styleshout.com/">StyleShout</A>, IronTickets has a great user interface.  I used the Creative Commons licensed "Envision" template and did some tweaking.
        <li>I would like to thank <a href="http://jquery.com">jQuery</a> for the awesome javascript, effects, themes, and graphics.</li>
        <li>Vincient Foley has a nice 'active' tag that makes <A HREF="http://gnuvince.wordpress.com/2008/03/19/the-new-and-improved-active-tag/">designing tabs</a> nice and easy.</li>
        <li>A nice little free favicon by some dude named <A HREF="http://www.favicon.cc/?action=icon&file_id=65237">Jason</A></li>
        <li>The awesome charts in the reporting section were made possible by <A HREF="http://www.filamentgroup.com/lab/jquery_visualize_plugin_accessible_charts_graphs_from_tables_html5_canvas/">Filament Group</A></li>
        <li><A HREF="http://github.com/alex/django-ajax-validation">django-ajax-validation</A></li>
        <li><A HREF="">django-attachments</A></li>
        <li><A HREF="">django-extensions</A></li>
        <li><A HREF="">django-mailer</A></li>
        <li><A HREF="">django-registrations</A></li>
        <li><A HREF="http://flexigrid.info">FlexiGrid</A></li>
        <li><A HREF="http://thpinfo.com">Thomas Perl - python-jabberbot</A></li>
        <li><A HREF="http://code.google.com/p/jutda-helpdesk/source/browse/trunk/management/commands/get_email.py">Jutda Helpdesk</A> for their get_email snippet</li>
        
    </ul>
    <br>
    If you're reading this line, it means I still have more people and companies
    to mention before I officially publish this.
    BUG: Update before publishing
{% endblock %}
