<a name="Welcome"></a>
<h2><a href="">Welcome</a></h2>
<p><strong>IronTickets</strong> is an open-source web-based ticket management system
for IT Solutions Providers.  At first glance, you might think IT handles information about
your clients and their tickets--but it does so much more.<br>
<br>
IronTickets handles your basic client data and tickets, of course--but it also handles
several other items:<br>
<ul>
        <li>Customer Data</li>
        <li>Tickets</li>
        <li>Statistics and Reporting</li>
        <li>Shop Inventory</li>
        <li>Client Inventory</li>
        <li>Managed Service Agreements/Accounts</li>
        <li>Client self-signup</li>
        <li>Integration with client authentication (so clients can use their existing windows domain username and password)</li>
        <li>Projects</li>
        <li>Ordering and Shipping</li>
        <li>Tracking all those ticket numbers from other vendors, suppliers, and support companies</li>
        <li>Document storage</li>
        <li>Knowledge base</li>
        <li>Tools to help audit client networks</li>
        <li>E-Mail integration</li>
        <li>Outlook calendar integration</li>
        <li>Outlook contact integration</li>
        <li>Integration with Nagios monitoring</li>
</ul>
And there's so much more.<br>
Best of all, it's open source and it's free.</p>
