<div class="ui-widget">
    <div class="fg-buttonset fg-buttonset-single">
        {% if user.is_staff %}
            <a href="{% url myhome %}" class="fg-button fg-button-icon-left ui-state-default ui-priority-primary ui-corner-left"><span class="ui-icon ui-icon-home"></span>My Home</a>
        {% else %}    
            <a href="{% url home %}" class="fg-button fg-button-icon-left ui-state-default ui-priority-primary ui-corner-left"><span class="ui-icon ui-icon-home"></span>Home</a>
        {% endif %}
        <a href="{% url tickets %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-note"></span>Tickets</a>
        <a href="{% url companies %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-home"></span>Companies</a>
        <a href="{% url users %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-contact"></span>Contacts</a>
        <a href="{% url reports %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-print"></span>Reports</a>
        <a href="{% if user.is_authenticated %}{% url userdetail user.pk %}{% else %}{% url signin %}{% endif %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-person"></span>Prefs</a>
        <a href="{% url admin:index %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-key"></span>Admin</a>
        <a href="{% url help %}" class="fg-button ui-state-default ui-priority-primary"><span class="ui-icon ui-icon-help"></span>Help</a>
        <a href="{% url about %}" class="fg-button ui-state-default ui-priority-primary ui-corner-right"><span class="ui-icon ui-icon-grip-solid-vertical"></span>About</a>
    </div>
</div>
