{% extends "irontickets/base.html" %}
{% block jqready %}
    $('.nicelist').flexigrid({showTableToggleBtn: false});
{% endblock %}
{% block sidemenu %}
<div class="ui-widget">
    <div class="ui-widget-header ui-corner-top">
        <span class="ui-icon ui-icon-triangle-1-s"></span>Company Menu
    </div>
    <div class="ui-state-highlight ui-corner-bottom">
        <a href="{% url companynew %}">New</a>
    </div>
</div>
{% endblock %}
{% block content %}
    {% include "irontickets/elements/company_table.html" %}
{% endblock %}
